@{
    ViewBag.Title = "FriendLinkForm";
    Layout = "~/Views/Shared/_FormLayoutPage.cshtml";
}
<!--上传图片-->
<link href='@Url.Content("~/Script/Common/uploadify/uploadify.css")' rel="stylesheet" type="text/css" />
<script src='@Url.Content("~/Script/Common/uploadify/jquery.uploadify.min.js")' type="text/javascript"></script>
@model sct.dto.cms.FriendLinkInfo
@using (Html.BeginForm("SaveFriendLink", "FriendLinkMgr", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    <div class="portlet box  blue">
        <div class="portlet-title">
            <div class="caption">友情链接编辑</div>
        </div>
        <div class="portlet-body form">
            <div class="control-group">
                <label class="control-label">
                    标题 @Html.Hidden("Id", Model.Id)</label>
                <div class="controls">@Html.TextBoxFor(x => x.Title, new { placeholder = "标题", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">语种</label>
                <div class="controls">
                    @Html.DropDownListFor(x => x.Language, sct.cm.util.HtmlSetter.EnumToList(typeof(sct.dto.cms.EnumSet.Language), false))
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">链接类型</label>
                <div class="controls">
                    @Html.DropDownListFor(x => x.FriendType, sct.cm.util.HtmlSetter.EnumToList(typeof(sct.dto.cms.EnumSet.FriendType), false))
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    图片</label>
                <div class="controls">

                    <div>@Html.TextBoxFor(x => x.LogoImage, new { @style = "display:none;" })
                        <div id="prevImageUrl">
                            <img id="curImageUrl" style="width: 120px; height: 80px" src="@Model.LogoImage" />
                        </div>
                        <input type="file" id="file_upload_ImageUrl" name="file_upload_ImageUrl" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    链接地址</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.LinkUrl, new { placeholder = "链接地址", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">排序</label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.SYS_OrderSeq, new { placeholder = "0", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否启用</label>
                <div class="controls">
                    <label class="radio">@Html.RadioButton("SYS_IsValid", 1, Model.SYS_IsValid == 1) 启用 </label>
                    <label class="radio">@Html.RadioButton("SYS_IsValid", 0, Model.SYS_IsValid == 0)  失效  </label>
                </div>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption">
                <input type="submit" id="btnSave" value="提交" class="btn blue" /><input type="button" value="取消" onclick="javascript: window.close();" class="btn blue" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#file_upload_ImageUrl').uploadify({
            'swf': '@Url.Content("~/Script/Common/uploadify/uploadify.swf")',
            'uploader': '@Url.Content("~/UploadHandler/UploadImage")',
            'buttonText': '点击浏览图片',
            'multi': false,//多文件上传
            //'uploadLimit': 2,//允许上传文件的个数
            //'queueSizeLimit': 3,//同时上传的文件
            'fileTypeDesc': '请选择图片，仅支持格式JPG,BMP,PNG,GIF，最大4M',
            'fileTypeExts': '*.JPG;*.GIF;*.PNG;*.BMP;',
            'onUploadSuccess': function (file, data, response) {//上传完成时触发（每个文件触发一次
                if (response == true) {//如果服务器返回200表示成功
                    var obj = JSON.parse(data);
                    if (obj.IsSuccess) {
                        $("#curImageUrl").attr("src", obj.JsonData);
                        $("[name='LogoImage']").val(obj.JsonData);
                    }
                    else {
                        alert(obj.Message);
                    }

                } else {
                    alert('上传失败', 'e');
                }
            },
            'onUploadError': function (file, data, response) {
                alert('上传失败', 'e');
            }
        })
    });
</script>
