@{
    ViewBag.Title = "WareHouseForm";
    Layout = "~/Views/Shared/_FormLayoutPage.cshtml";
}
@model sct.dto.mrp.WareHouseInfo
@using (Html.BeginForm("SaveWareHouse", "WareHouseMgr", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    <div class="portlet box  blue">
        <div class="portlet-title">
            <div class="caption">物料分料设置</div>
        </div>
        <div class="portlet-body form">
            <div class="control-group">
                <label class="control-label">
                    编码 @Html.Hidden("Id", Model.Id)</label>
                <div class="controls">@Html.TextBoxFor(x => x.WareHouseCode, new { placeholder = "编码", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">仓库名称</label>
                <div class="controls">@Html.TextBoxFor(x => x.WareHouseName, new { placeholder = "仓库名称", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    所在区域</label>
                <div class="controls">@Html.DropDownListFor(x => x.RegionId, sct.cm.util.HtmlSetter.ListToTreeList(ViewBag.DicRegion as List<sct.cm.data.ChooseDictionary>, 3, false))
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">详细地址</label>
                <div class="controls">@Html.TextBoxFor(x => x.Address, new { placeholder = "详细地址", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">排序</label>
                <div class="controls">@Html.TextBoxFor(x => x.SYS_OrderSeq, new { placeholder = "0", @class = "m-wrap medium" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否启用</label>
                <div class="controls">
                    <label class="radio">@Html.RadioButton("SYS_IsValid", 1, Model.SYS_IsValid == 1) 启用 </label>
                    <label class="radio">@Html.RadioButton("SYS_IsValid", 0, Model.SYS_IsValid == 0)  失效  </label>
                </div>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption">
                <input type="submit" id="btnSave" value="提交" class="btn blue" /><input type="button" value="取消" onclick="javascript: window.close();" class="btn blue" />
            </div>
        </div>
    </div>
}
